p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  opacity: 0;
  transition: linear 1000ms;
  transform: translateX(-100%);
}

img.appear {
  opacity: 1;
  transform: translateX(0);
}

body {
  width: 100%;
  margin: 0;
  color: #2a2a2a;
  background-color: getColor('body');
}
