@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  margin: 0;
  color: #2a2a2a;
  background-color: #fff;
}

.btn__promo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;
  background-color: #43934c;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 5px;
  margin: 0 auto;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__promo:hover,
.btn__promo:focus {
  background-color: #006400;
  outline: 2px solid #ffffff;
}
@media (min-width: 768px) {
  .btn__promo {
    font-size: 18px;
  }
}

.btn__icon {
  fill: #ffffff;
  margin-right: 5px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #ffffff;
}
.logo:hover {
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.3) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.3) 70%
  );
  mask-size: 200%;
  animation: shine 2s infinite;
}

.logo__text--accent {
  font-size: 32px;
  color: #79efc8;
}

.logo__icon {
  fill: #2f96eb;
  margin-right: 5px;
}

.heart-beat {
  animation: heart-beat 3s ease infinite;
}

@keyframes heart-beat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
.promo-box {
  padding: 12px;
  border-bottom: 4px solid #87a987;
  background-color: #343434;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/city/mob-480.jpg);
  height: 533px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .promo-box {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/city/mob@2-960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .promo-box {
    border-bottom: 4px solid #7b7be0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/city/tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .promo-box {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/city/tab@2.jpg);
  }
}
@media screen and (min-width: 1360px) {
  .promo-box {
    border-bottom: 4px solid #8555b3;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/city/desktop-1360.jpg);
  }
}
@media screen and (min-width: 1360px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1360px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1360px) and (min-resolution: 192dpi),
  screen and (min-width: 1360px) and (min-resolution: 2dppx) {
  .promo-box {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/city/desktop@2-2720.jpg);
  }
}

.promo__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
  margin: 200px 0px 10px;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.5;
  }
}
@media (min-width: 1360px) {
  .promo__title {
    font-size: 52px;
    line-height: 1.2;
  }
}

.promo__text {
  font-size: 22px;
  line-height: 1.6;
  color: #ffffff;
  text-align: center;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 28px;
    line-height: 1.5;
  }
}
@media (min-width: 1360px) {
  .promo__text {
    font-size: 32px;
    line-height: 1.6;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.nav-list__link {
  display: block;
  padding: 8px;
  font-size: 18px;
  color: #ffffff;
}
.nav-list__link:hover,
.nav-list__link:focus {
  color: #d400ff;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

.about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-decor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #ffffff;
}

.about__icon {
  fill: #ffffff;
}

.about-title {
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
}

.about-description {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  max-width: 220px;
}

@media (min-width: 480px) {
  .about-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about-list__item:not(:last-of-type) {
    margin-bottom: 33px;
  }
  .about-decor {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .about {
    max-width: 768px;
    padding-top: 40px;
    padding-bottom: 47px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about-list__item:not(:last-of-type) {
    margin-bottom: 0px;
  }
  .about-title {
    font-size: 20px;
  }
  .about-description {
    font-size: 18px;
    max-width: 185px;
  }
}
@media (min-width: 1360px) {
  .about {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-right: 65px;
  }
  .about-list {
    justify-content: space-between;
  }
  .about-list__item {
    max-width: 362px;
  }
  .about-description {
    max-width: 362px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (min-width: 1360px) {
  .page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.cl {
  padding: 1px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: #343434;
  border-radius: 0px;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .footer .footer__title {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .footer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
  .footer .footer__social {
    margin-left: 80px;
  }
}
@media screen and (min-width: 1360px) {
  .footer {
    width: 1360px;
  }
}
.footer .circle__text {
  font-size: 28px;
  fill: white;
  text-transform: uppercase;
  letter-spacing: 12px;
  word-spacing: 20px;
  animation: motion normal infinite 20s linear;
  transform-origin: 50% 50%;
}
@keyframes motion {
  to {
    transform: rotate(360deg);
  }
}
.footer .circle:hover .circle__text {
  animation-play-state: paused;
}
.footer .footer__btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: white;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease-out;
  overflow: hidden;
  background-color: #454545;
}
.footer .footer__btn:not(:last-child) {
  margin-right: 5px;
}
.footer .footer__icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  line-height: 60px;
  transition: all 500ms ease-out;
}
.footer .footer__link {
  font-size: 25px;
  line-height: 60px;
}
.footer .footer__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}
.footer .footer__btn:hover {
  width: 200px;
}
@media screen and (max-width: 767px) {
  .footer .footer__btn:hover {
    width: 60px;
  }
}
.footer .footer__btn:nth-child(1):hover .footer__icon {
  background: #4267b2;
}
.footer .footer__btn:nth-child(2):hover .footer__icon {
  background: #1da1f2;
}
.footer .footer__btn:nth-child(3):hover .footer__icon {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #ab2d76;
}
.footer .footer__btn:nth-child(4):hover .footer__icon {
  background: #03921b;
}
.footer .footer__btn:hover .footer__link {
  color: #fff;
}
.footer .footer__btn:nth-child(1):hover .footer__text {
  color: #4267b2;
}
.footer .footer__btn:nth-child(2):hover .footer__text {
  color: #1da1f2;
}
.footer .footer__btn:nth-child(3):hover .footer__text {
  color: #e1306c;
}
.footer .footer__btn:nth-child(4):hover .footer__text {
  color: #03921b;
}

.footer-copyright {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
  color: #ffffff;
} /*# sourceMappingURL=index.css.map */
