@import '~node_modules/modern-normalize/modern-normalize.css';
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  margin: 0;
  color: #2a2a2a;
  background-color: #fff;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    background-color: green;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    background-color: blue;
  }
}
@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
    background-color: blueviolet;
  }
}

.logo {
  font-size: 32px;
  line-height: 1.31;
  color: #ffffff;
}
.logo:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.3) 30%, #000 50%, rgba(0, 0, 0, 0.3) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

.logo__text--accent {
  font-size: 32px;
  color: #79efc8;
}

.logo__icon {
  fill: #2f96eb;
  margin-right: 5px;
}

.heart-beat {
  animation: heart-beat 3s ease infinite;
}

@keyframes heart-beat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
.promo-box {
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.page-header {
  width: 100%;
  top: 27px;
  left: 0;
  background-color: #343434;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/city.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-list {
  display: flex;
  gap: 18px;
}

.nav-list__link {
  font-size: 18px;
  color: #ffffff;
}

.cl {
  color: red;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: #343434;
  border-radius: 0px;
  padding: 20px 0;
}
@media screen and (min-width: 320px) {
  .footer {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .footer {
    width: 1360px;
  }
}
.footer .circle__text {
  font-size: 28px;
  fill: white;
  text-transform: uppercase;
  letter-spacing: 12px;
  word-spacing: 20px;
  animation: motion normal infinite 20s linear;
  transform-origin: 50% 50%;
}
@keyframes motion {
  to {
    transform: rotate(360deg);
  }
}
.footer .circle:hover .circle__text {
  animation-play-state: paused;
}
.footer .footer__social {
  margin-left: 80px;
}
.footer .footer__btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: white;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease-out;
  overflow: hidden;
  background-color: #454545;
}
.footer .footer__btn:not(:last-child) {
  margin-right: 5px;
}
.footer .footer__icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  line-height: 60px;
  transition: all 500ms ease-out;
}
.footer .footer__link {
  font-size: 25px;
  line-height: 60px;
}
.footer .footer__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}
.footer .footer__btn:hover {
  width: 200px;
}
@media screen and (max-width: 767px) {
  .footer .footer__btn:hover {
    width: 60px;
  }
}
.footer .footer__btn:nth-child(1):hover .footer__icon {
  background: #4267b2;
}
.footer .footer__btn:nth-child(2):hover .footer__icon {
  background: #1da1f2;
}
.footer .footer__btn:nth-child(3):hover .footer__icon {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #ab2d76;
}
.footer .footer__btn:nth-child(4):hover .footer__icon {
  background: #03921b;
}
.footer .footer__btn:hover .footer__link {
  color: #fff;
}
.footer .footer__btn:nth-child(1):hover .footer__text {
  color: #4267b2;
}
.footer .footer__btn:nth-child(2):hover .footer__text {
  color: #1da1f2;
}
.footer .footer__btn:nth-child(3):hover .footer__text {
  color: #e1306c;
}
.footer .footer__btn:nth-child(4):hover .footer__text {
  color: #03921b;
}

.footer-copyright {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
  color: #ffffff;
}/*# sourceMappingURL=index.css.map */