$font-family: 'Open Sans';

$colors: (
  'primary-logo-color': #79efc8,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$primary-logo-color: rgb(121, 239, 200);

$btn-border-radius: 5px;
