$font-family: 'Open Sans';
$btn-border-radius: 5px;
$transition-basic: 500ms cubic-bezier(0.4, 0, 0.2, 1);

$colors: (
  'body': #f7f5f5,
  'main': #ffffff,
  'primary-logo': #79efc8,
  'icon-logo': #2f96eb,
  'bg-color': #343434,
  'mob-border': #87a987,
  'tab-border': #7b7be0,
  'decktop-border': #8555b3,
  'nav-hover': #d400ff,
  'bg-basic': #43934c,
  'bg-btn-hover': #006400,
  'bg-about': #eee7e7,
  'bg-about-icon': #129a12,
  'bg-work': #f2f0f0,
  'text': #333333,
);

@function getColor($key) {
  @return map-get($colors, $key);
}
