$font-family: 'Open Sans';

$colors: (
  'main': #ffffff,
  'primary-logo': #79efc8,
  'icon-logo': #2f96eb,
  'bg-color': #343434,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$btn-border-radius: 5px;
