<section class="about container" id="about">
  <h2 class="visually-hidden">Services List</h2>
  <ul class="about-list">
    <li class="about-list__item">
      <div class="about-decor">
        <svg class="about__icon" width="35" height="35">
          <use href="./images/sprite.svg#icon-house"></use>
        </svg>
      </div>
      <h3 class="about-title">Investmant Banking</h3>
      <p class="about-description">
        Develop relationships with new and existing clients in order to expand
        the business.
      </p>
    </li>
    <li class="about-list__item">
      <div class="about-decor">
        <svg class="about__icon" width="35" height="35">
          <use xlink:href="./images/sprite.svg#icon-book"></use>
        </svg>
      </div>
      <h3 class="about-title">Portfolio Manage</h3>
      <p class="about-description">
        Generating an investment policy statement outlining our clients’
        investment objectives.
      </p>
    </li>
    <li class="about-list__item">
      <div class="about-decor">
        <svg class="about__icon" width="35" height="35">
          <use xlink:href="./images/sprite.svg#icon-pen"></use>
        </svg>
      </div>
      <h3 class="about-title">Tax & Custudio</h3>
      <p class="about-description">
        Reviewing if tax reports are in compliance with government tax rules and
        regulations.
      </p>
    </li>
  </ul>
</section>
