<section class="blog container" id="blog">
  <div class="blog__post">
    <div class="swiper">
      <div class="swiper__wrapper">
        <!-- 1 -->
        <div class="swiper__slide">
          <time
            class="blog__time"
            datetime="2023-03-10
                                20:00"
            >March 10 2023</time
          >
          <h3 class="blog__title">Blog Post One</h3>
          <p class="blog__description">
            Finding an idea, collecting your thoughts, and then communicating
            them in an interesting way that someone will actually read feels
            reminiscent of a dentist visit for many of us.
          </p>
          <button type="button" class="btn btn__blog">Read Our Blog</button>
        </div>
        <!-- 2 -->
        <div class="swiper__slide">
          <time
            class="blog__time"
            datetime="2023-06-15
                                21:00"
            >June 15 2023</time
          >
          <h3 class="blog__title">Blog Post Two</h3>
          <p class="blog__description">
            Yet business blogging is an important part of marketing today.
            According to research the more your firm blogs, the more visitors
            you’ll attract to your site… and the more possibilities there are of
            generating leads and customers.
          </p>
        </div>
        <!-- 3 -->
        <div class="swiper__slide">
          <time
            class="blog__time"
            datetime="2023-11-25
                                22:00"
            >November 25 2023</time
          >
          <h3 class="blog__title">Blog Post Three</h3>
          <p class="blog__description">
            Regular blogging can have a big impact on your business.
            Fortunately, there are steps you can follow to enjoy the benefits
            and make writing blog posts a little bit easier.
          </p>
        </div>
      </div>
      <div class="swiper__button-prev"></div>
      <div class="swiper__button-next"></div>
    </div>
    <div class="blog__panel">
      <p class="blog__panel-info">
        Write the working title of your blog post in the middle of a piece of
        paper and circle it. At the top, write down the buyer persona you’re
        targeting and the goal of the post. The goal can be as simple as
        “educate our audience” or “position our company as a leader in its
        field.” Now let your mind wander. When an idea pops into your head,
        write it down on your paper, circle it, and draw a line to the phrase
        that inspired the thought. Gray-Grant suggests using different colored
        pens and drawings to make your mind map more interesting—and appeal to
        the creative side of your brain.
      </p>
      <a class="blog__close">Close</a>
    </div>
  </div>
  <div class="blog__thumb">
    <picture>
      <source
        class="lazyload"
        srcset="
          ./images/blog/note-desk-680.jpg    1x,
          ./images/blog/note-desk@2-1360.jpg 2x
        "
        media="(min-width: 1360px)"
        loading="lazy"
        width="680"
      />
      <source
        class="lazyload"
        srcset="
          ./images/blog/note-tab-384.jpg   1x,
          ./images/blog/note-tab@2-768.jpg 2x
        "
        media="(min-width:768px)"
        loading="lazy"
        width="384"
      />
      <source
        srcset="
          ./images/blog/note-mob-480.jpg   1x,
          ./images/blog/note-mob@2-960.jpg 2x
        "
        media="(max-width:767px)"
        loading="lazy"
        width="480"
      />
      <img
        set="./images/blog/note-desk-680.jpg"
        alt="Tablet notepad coffee cup"
        loading="lazy"
      />
    </picture>
  </div>
</section>
