<section class="business container" id="cases">
  <h2 class="business__title">This is what we do</h2>
  <h3 class="business__text">Business Cases</h3>
  <p class="business__description">
    The business case is one of the most powerful decision-making tools
    available to the organization's leadership team. It is a decision-making
    tool that provides the leadership team with an assessment of the investment,
    benefits and risks of a particular decision.
  </p>
  <ul class="business-group-photo">
    <li class="business-grouo-photo__item">
      <a
        data-caption
        data-fancybox="gallery"
        href="./images/business/img-1-mob-450.jpg"
      >
        <picture>
          <source
            srcset="
              ./images/business/img-1-desk-320.jpg   1x,
              ./images/business/img-1-desk@2-640.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            srcset="
              ./images/business/img-1-tab-172.jpg   1x,
              ./images/business/img-1-tab@2-344.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/business/img-1-mob-450.jpg   1x,
              ./images/business/img-1-mob@2-900.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="lazyload"
            id="1"
            src="./images/business/img-1-mob-450.jpg"
            alt="A team of specialists solve a business problem"
            loading="lazy"
          />
        </picture>
      </a>
    </li>
    <li class="business-grouo-photo__item">
      <a
        data-caption
        data-fancybox="gallery"
        href="./images/business/img-2-mob-450.jpg"
      >
        <picture>
          <source
            srcset="
              ./images/business/img-2-desk-320.jpg   1x,
              ./images/business/img-2-desk@2-640.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            srcset="
              ./images/business/img-2-tab-172.jpg   1x,
              ./images/business/img-2-tab@2-344.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/business/img-2-mob-450.jpg   1x,
              ./images/business/img-2-mob@2-900.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="lazyload"
            id="2"
            src="./images/business/img-2-mob-450.jpg"
            alt="Development of business analytics"
            loading="lazy"
          />
        </picture>
      </a>
    </li>
    <li class="business-grouo-photo__item">
      <a
        data-caption
        data-fancybox="gallery"
        href="./images/business/img-3-mob-450.jpg"
      >
        <picture>
          <source
            srcset="
              ./images/business/img-3-desk-320.jpg   1x,
              ./images/business/img-3-desk@2-640.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            srcset="
              ./images/business/img-3-tab-172.jpg   1x,
              ./images/business/img-3-tab@2-344.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/business/img-3-mob-450.jpg   1x,
              ./images/business/img-3-mob@2-900.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="lazyload"
            id="3"
            src="./images/business/img-3-mob-450.jpg"
            alt="Approval of a joint decision"
            loading="lazy"
          />
        </picture>
      </a>
    </li>
    <li class="business-grouo-photo__item">
      <a
        data-caption
        data-fancybox="gallery"
        href="./images/business/img-4-mob-450.jpg"
      >
        <picture>
          <source
            srcset="
              ./images/business/img-4-desk-320.jpg   1x,
              ./images/business/img-4-desk@2-640.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            srcset="
              ./images/business/img-4-tab-172.jpg   1x,
              ./images/business/img-4-tab@2-344.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/business/img-4-mob-450.jpg   1x,
              ./images/business/img-4-mob@2-900.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="lazyload"
            id="4"
            src="./images/business/img-4-mob-450.jpg"
            alt="Laptop workflow"
            loading="lazy"
          />
        </picture>
      </a>
    </li>
    <li class="business-grouo-photo__item">
      <a
        data-caption
        data-fancybox="gallery"
        href="./images/business/img-5-mob-450.jpg"
      >
        <picture>
          <source
            srcset="
              ./images/business/img-5-desk-320.jpg   1x,
              ./images/business/img-5-desk@2-640.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            srcset="
              ./images/business/img-5-tab-172.jpg   1x,
              ./images/business/img-5-tab@2-344.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/business/img-5-mob-450.jpg   1x,
              ./images/business/img-5-mob@2-900.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="lazyload"
            id="5"
            src="./images/business/img-5-mob-450.jpg"
            alt="Handshake of employees"
            loading="lazy"
          />
        </picture>
      </a>
    </li>
    <li class="business-grouo-photo__item">
      <a
        data-caption
        data-fancybox="gallery"
        href="./images/business/img-6-mob-450.jpg"
      >
        <picture>
          <source
            srcset="
              ./images/business/img-6-desk-320.jpg   1x,
              ./images/business/img-6-desk@2-640.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            srcset="
              ./images/business/img-6-tab-172.jpg   1x,
              ./images/business/img-6-tab@2-344.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/business/img-6-mob-450.jpg   1x,
              ./images/business/img-6-mob@2-900.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="lazyload"
            id="6"
            src="./images/business/img-6-mob-450.jpg"
            alt="The business of the meeting"
            loading="lazy"
          />
        </picture>
      </a>
    </li>
    <li class="business-grouo-photo__item">
      <a
        data-caption
        data-fancybox="gallery"
        href="./images/business/img-7-mob-450.jpg"
      >
        <picture>
          <source
            srcset="
              ./images/business/img-7-desk-320.jpg   1x,
              ./images/business/img-7-desk@2-640.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            srcset="
              ./images/business/img-7-tab-172.jpg   1x,
              ./images/business/img-7-tab@2-344.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/business/img-7-mob-450.jpg   1x,
              ./images/business/img-7-mob@2-900.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="lazyload"
            id="7"
            src="./images/business/img-7-mob-450.jpg"
            alt="Employee's report"
            loading="lazy"
          />
        </picture>
      </a>
    </li>
    <li class="business-grouo-photo__item">
      <a
        data-caption
        data-fancybox="gallery"
        href="./images/business/img-8-mob-450.jpg"
      >
        <picture>
          <source
            srcset="
              ./images/business/img-8-desk-320.jpg   1x,
              ./images/business/img-8-desk@2-640.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            srcset="
              ./images/business/img-8-tab-172.jpg   1x,
              ./images/business/img-8-tab@2-344.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/business/img-8-mob-450.jpg   1x,
              ./images/business/img-8-mob@2-900.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="lazyload"
            id="8"
            src="./images/business/img-8-mob-450.jpg"
            alt="Transaction"
            loading="lazy"
          />
        </picture>
      </a>
    </li>
  </ul>
</section>
