<footer class="footer">
  <div class="footer__box">
    <div class="footer__btn">
      <div class="footer__icon">
        <i class="fa fa-facebook footer__link"></i>
      </div>
      <span class="footer__text">Facebook</span>
    </div>

    <div class="footer__btn">
      <div class="footer__icon">
        <i class="fa fa-twitter footer__link"></i>
      </div>
      <span class="footer__text">Twitter</span>
    </div>

    <div class="footer__btn">
      <div class="footer__icon">
        <i class="fa fa-instagram footer__link"></i>
      </div>
      <span class="footer__text">Instagram</span>
    </div>

    <div class="footer__btn">
      <div class="footer__icon">
        <i class="fa fa-whatsapp footer__link"></i>
      </div>
      <span class="footer__text">Whatsapp</span>
    </div>

    <div class="footer-copyright">
      <p class="footer-copyright__text">Copyright © 2023 - FinancialLedger</p>
    </div>
  </div>
</footer>
