<header class="header">
  <div class="container header__container">
    <a class="header__logo link" href="#"
      ><svg class="logo__icon" width="40" height="31">
        <use xlink:href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo--color">Finance</span>Ledger</a
    >

    <nav class="header-nav">
      <ul class="header__list list">
        <li class="header__item item">
          <a class="header__link link" href="">Home</a>
        </li>
        <li class="header__item item">
          <a class="header__link link" href="">About</a>
        </li>
        <li class="header__item item">
          <a class="header__link link" href="">Cases</a>
        </li>
        <li class="header__item item">
          <a class="header__link link" href="">Blog</a>
        </li>
        <li class="header__item item">
          <a class="header__link link" href="">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__box">
      <h1 class="header__title">The Sky Is The Limit</h1>
      <p class="header__text">We provide world class financial assistance</p>
      <button class="header__btn button" type="button">Read More</button>
    </div>
  </div>
</header>
