<section class="services container" id="servicess">
  <div class="bespoke">
    <div class="services__thumb">
      <picture>
        <source
          srcset="
            ./images/services/meeting-desk-680.jpg    1x,
            ./images/services/meeting-desk@2-1360.jpg 2x
          "
          media="(min-width: 1360px)"
          loading="lazy"
        />
        <source
          srcset="
            ./images/services/meeting-tab-384.jpg   1x,
            ./images/services/meeting-tab@2-768.jpg 2x
          "
          media="(min-width:768px)"
          loading="lazy"
        />
        <source
          srcset="
            ./images/services/meeting-mob-480.jpg   1x,
            ./images/services/meeting-mob@2-960.jpg 2x
          "
          media="(max-width:767px)"
          loading="lazy"
        />
        <img
          class="lazyload"
          data-src="./images/services/meeting-desk-680.jpg"
          alt="Great team in the office"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="services__bespoke-solutions">
      <h3 class="services__title">What you are looking for</h3>
      <p class="services__bespoke">We provide bespoke solutions</p>
      <p class="services__description">
        The first step is to start by mapping out the customer journey, which is
        specific to each organization. A one-size-fits-all customer journey
        mapping service is not a solution you should consider. At the outset
        they may look similar, but once you get more granular, it is easy to see
        how they differ from business to business. And since each customer
        journey is unique to each business, so will the solution be too.
      </p>
      <button class="btn btn__services">> Read More</button>
    </div>
  </div>
  <div class="panel">
    <p class="panel-info">
      All businesses experience the same problem at some point: How to improve
      their customer service. Generally speaking, improving customer experience
      requires examining all three phases of pre-purchase, consumption and
      post-purchase. In each of these phases there will be multiple touch points
      with customers and each touch point contributes to the overall customer
      experience. The most common one that cannot be ignored is mobile device
      touch points. Unfortunately, as innocent as it seems, trying to implement
      the same solution for all types of businesses is not the correct way to
      fix the problem. Each business is unique, and each customer journey is
      unique, and most importantly each business uses a unique set of tools and
      processes. Trying to implement a standard set of tools and processes will
      be very challenging, some of the very common issues will be: Digital
      channels chosen might be different (one preferred over the other)
      Application landscape is very different Technologies used could be
      different Systems used might be a combination of legacy and latest
      Underlying infrastructure might not support the tools or vice-versa
      End-to-end system Integration may not be possible Processes may need to
      adapt to the system due to lack of support Automation may seem too distant
      These issues will still be true even if you have multiple businesses that
      sell the same type of product or service. Businesses grow organically and
      along the journey will have implemented various processes and adopted
      various tools that serve their needs at a point in time. Hence evaluating
      and mapping out the current landscape is key before trying to define the
      solution.
    </p>

    <button type="button" class="button__close">Close</button>
  </div>
</section>
