<section class="work container">
  <div class="work__box">
    <h3 class="work__subtitle">Who we are</h3>
    <h2 class="work__title">Our Professional Team</h2>
    <p class="work__text">
      To a prospect seeking out a new service provider, the process can be a
      little overwhelming. It's easy to wonder: Who are the real people behind
      all the smoke and mirrors?
    </p>
  </div>
  <ul class="team__list">
    <li class="team__item">
      <div class="team__overflow">
        <picture>
          <source
            srcset="
              ./images/team/john-420.jpg    1x,
              ./images/team/john@2x-840.jpg 2x
            "
            media="(min-width: 1360px)"
          />

          <source
            srcset="
              ./images/team/john-420.jpg    1x,
              ./images/team/john@2x-840.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/john-420.jpg    1x,
              ./images/team/john@2x-840.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/team/john-420.jpg"
            alt="President"
            loading="lazy"
          />
        </picture>
        <div class="team__box icons">
          <a
            href="https://www.instagram.com"
            class="icon icon--instagram"
            target="_blank"
          >
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" class="icon icon--twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="icon icon--linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="#" class="icon icon--github">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <h3 class="team__subtitle">John Doe</h3>
      <p class="team__text">President</p>
    </li>

    <li class="team__item">
      <div class="team__overflow">
        <picture>
          <source
            srcset="
              ./images/team/jane-420.jpg    1x,
              ./images/team/jane@2x-840.jpg 2x
            "
            media="(min-width: 1360px)"
          />

          <source
            srcset="
              ./images/team/jane-420.jpg    1x,
              ./images/team/jane@2x-840.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/jane-420.jpg    1x,
              ./images/team/jane@2x-840.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/team/jane-420.jpg"
            alt="Vice Presidente"
            loading="lazy"
          />
        </picture>
        <div class="team__box icons">
          <a
            href="https://www.instagram.com"
            class="icon icon--instagram"
            target="_blank"
          >
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" class="icon icon--twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="icon icon--linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="#" class="icon icon--github">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <h3 class="team__subtitle">Jane Doe</h3>
      <p class="team__text">Vice President</p>
    </li>

    <li class="team__item">
      <div class="team__overflow">
        <picture>
          <source
            srcset="
              ./images/team/steve-420.jpg    1x,
              ./images/team/steve@2x-840.jpg 2x
            "
            loading="lazy"
            media="(min-width: 1360px)"
          />

          <source
            srcset="
              ./images/team/steve-420.jpg    1x,
              ./images/team/steve@2x-840.jpg 2x
            "
            loading="lazy"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/steve-420.jpg    1x,
              ./images/team/steve@2x-840.jpg 2x
            "
            loading="lazy"
            media="(max-width: 767px)"
          />

          <img
            src="./images/team/steve-420.jpg"
            alt="Marketing Head"
            loading="lazy"
          />
        </picture>
        <div class="team__box icons">
          <a
            href="https://www.instagram.com"
            class="icon icon--instagram"
            target="_blank"
          >
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" class="icon icon--twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="icon icon--linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="#" class="icon icon--github">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <h3 class="team__subtitle">Steve Smith</h3>
      <p class="team__text">Marketing Head</p>
    </li>
  </ul>
</section>
