.button-sroll-up {
  position: relative;
}

.btn-scroll {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: getColor('bg-services');
  font-size: 0;
  opacity: 0.4;
  z-index: 10;
  display: none;
  transition: $transition-basic;
}

.btn-scroll.shown {
  display: block;
}

.btn-scroll::before {
  position: absolute;
  content: '';
  background-image: url('../images/scroll.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-scroll:hover {
  background-color: getColor('bg-btn-hover');
  transform: scale(1.2);
}
