.header__plane {
  opacity: 1;
}

.light {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  bottom: 110px;
  position: absolute;
  z-index: 10;
  left: -198px;
  animation: light 800ms ease-in-out 0s infinite alternate;
}
.cloud1 {
  margin-top: 100px;
}
.cloud {
  position: absolute;
  top: 0px;
  right: -500px;
  opacity: 0.8;
  animation: cloud 10s linear 0s infinite reverse;
  z-index: 99;
}
@keyframes light {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cloud {
  from {
    right: -500px;
  }
  to {
    right: 102%;
  }
}
