.panel {
  position: absolute;
  margin: 0;
  transform: translateY(0);
  opacity: 0;
  bottom: 0;
  left: 0;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #28a745;
  transition: 500ms $transition-basic;
  z-index: -10;
}

.panel__info {
  font-size: 20px;
  color: getColor('main');
  margin-bottom: 16px;
}

.panel--show {
  transform: translateY(100%);
  opacity: 1;
}

//  blog section
.blog__panel {
  position: absolute;
  transform: translateY(0);
  opacity: 0;
  bottom: 0;
  left: 0;
  padding: 30px;

  transition: $transition-basic;
  background-color: getColor('bg-blog');
  z-index: -10;
  pointer-events: none;
}

.blog__panel-info {
  font-size: 20px;
  color: getColor('main');
  margin-bottom: 16px;
}

.blog__panel--show {
  transform: translateY(100%);
  opacity: 1;
  pointer-events: fill;
}
