.panel {
  position: absolute;
  margin: 0;
  transform: translateY(0);
  opacity: 0;
  bottom: 0;
  left: 0;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #28a745;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -10;
}

.panel-info {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

.panel--show {
  transform: translateY(100%);
  opacity: 1;
}
