.logo {
  font-size: 32px;
  line-height: 1.31;
  // color: #e15d5d;
}

.logo__text--accent {
  font-size: 32px;

  // color: aquamarine;
  // color: $primary-logo-color;
  color: getColor('primary-logo-color');
}

.logo__icon {
  fill: rgb(16, 126, 216);
  margin-right: 5px;
}

// @media (min-width: 320px) {
//   .logo {
//     @mixin flexCentr();
//     margin-bottom: 10px;
//   }
// }

// @media (min-width: 768px) {
//   .logo {
//     font-size: 28px;
//     margin-bottom: 0;
//     margin-left: 40px;
//   }

//   .logo__icon {
//     margin-right: 4px;
//   }
// }
