.nav-list {
  @include centeredFlex();
  gap: 18px;
}
.nav-list__link {
  display: block;
  padding: 8px;
  font-size: 18px;
  color: getColor('main');

  &:hover,
  &:focus {
    color: getColor('nav-hover');
  }
}
