.promo-box {
  position: relative;
  background-color: grey;
  //   background-image: url("../images/promo-desktop-x1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //   padding: 148px 40px 95px 40px;
}
