.promo-box {
  padding: 12px;
  border-bottom: 4px solid getColor('mob-border');
  background-color: getColor('bg-color');
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/city/mob-480.jpg);

  height: 533px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/city/mob@2-960.jpg);
  }

  @media screen and (min-width: 768px) {
    border-bottom: 4px solid getColor('tab-border');
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/city/tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/city/tab@2.jpg);
    }
  }

  @media screen and (min-width: 1360px) {
    border-bottom: 4px solid getColor('decktop-border');
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/city/desktop-1360.jpg);
    height: 733px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/city/desktop@2-2720.jpg);
    }
  }
}

.promo__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  color: getColor('main');
  text-align: center;
  margin: 200px 0px 10px;

  @media (min-width: 768px) {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.5;
  }

  @media (min-width: 1360px) {
    font-size: 52px;
    line-height: 1.2;
  }
}

.promo__text {
  font-size: 22px;
  line-height: 1.6;
  color: getColor('main');
  text-align: center;
  margin-bottom: 27px;

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 1.5;
  }

  @media (min-width: 1360px) {
    font-size: 32px;
    line-height: 1.6;
  }
}
