.page-header {
  position: absolute;
  // top: 27px;
  left: 0;
  width: 100%;
  // padding: 20px 10px;
  // display: flex;

  // justify-content: space-between;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/city.jpg);

  height: 600px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
}

.nav-list {
  display: flex;
  gap: 18px;
}
.nav-list__link {
  color: white;
}
