.page-header {
  padding: 20px 10px;
  display: flex;

  justify-content: space-between;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/city.jpg);

  height: 600px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
}
// .logo {
//   display: flex;
// }
// .logo__text--accent {
//   color: var(--primary-logo-color);
// }
// .logo__icon {
//   fill: rgb(16, 126, 216);
// }

.nav-list {
  color: white;
  display: flex;
  gap: 18px;
}
// .nav-list__link {
//   color: white;
//   padding: 10px;
// }
// .logo {
//   color: white;
// }
