.servicess {
  position: relative;
  z-index: 5;
}

.servicess__bespoke-solutions {
  padding: 30px;
  background-color: #28a745;
}

.servicess__title {
  font-size: 16px;
  line-height: 1.62;
  color: getColor('main');
  margin-bottom: 5px;
}

.servicess__bespoke {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: getColor('main');
  margin-bottom: 25px;
}

.servicess__description {
  font-size: 16px;
  line-height: 1.62;
  color: getColor('main');
  margin-bottom: 14px;
  text-align: left;
}

.servicess__comands {
  @include centeredFlex();
}

@media (min-width: 768px) {
  .servicess {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .bespoke {
    display: flex;
  }

  .servicess__comands {
    width: 50%;
  }

  .servicess__bespoke-solutions {
    width: 50%;
  }

  .servicess__title {
    font-size: 20px;
  }

  .servicess__description {
    font-size: 18px;
    max-width: 315px;
  }
}

@media (min-width: 1360px) {
  .servicess {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }

  .servicess__bespoke-solutions {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .servicess__comands {
    height: 100%;
  }

  .servicess__description {
    max-width: 606px;
  }
}
