.work {
  padding: 40px 30px;
  background-color: getColor('bg-work');
}

.work__box {
  text-align: center;
  color: getColor('text');
}

.work__subtitle {
  margin-bottom: 14px;
}
.work__title {
  margin-bottom: 18px;
}
.work__text {
  font-size: 18px;
  margin-bottom: 38px;
}
