.work {
  padding: 50px 28px;
  background-color: #fff;
}

.work__box {
  text-align: center;
}

.work__subtitle {
  margin-bottom: 15px;
  color: #333333;
}
.work__title {
  margin-bottom: 35px;
  color: #333333;
}
.work__text {
  margin-bottom: 38px;
  color: #333333;
}
